
<div class="head">
    <!-- {{ name }} -->
    Disease Name
</div>

<div class="container">
    <div class="image">
        <img src="https://cdn.pixabay.com/photo/2017/09/30/18/58/lungs-2803208_960_720.png"
            alt="Organ image">
    </div>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, distinctio nihil voluptas id fugit aut
        placeat nulla quae iste, amet harum commodi ipsa laborum reiciendis incidunt laudantium dolorum. Illo cupiditate
        ea asperiores, eveniet voluptatem assumenda iure velit odit beatae consectetur aliquid. Aspernatur, ducimus
        placeat aliquam ad assumenda molestiae quaerat suscipit repudiandae error excepturi quisquam modi nobis corporis
        dolore ex deserunt blanditiis provident esse rem dolorum, fugit repellendus aperiam neque. Aspernatur, odio
        velit. Vero praesentium voluptates quasi! Voluptatem, omnis laudantium, saepe ipsa mollitia iste nobis
        reprehenderit repellendus quae laboriosam asperiores amet maiores a beatae ipsam debitis perferendis nostrum rem
        dignissimos nisi. </p>


</div>