<mat-toolbar class="title-bar" [style.backgroundColor]='"#3aafa9"'>

    <mat-toolbar-row class="title">
        <div>
            This is title
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="buttons">
        <a routerLink="welcome">
            <button mat-raised-button> Home </button>
        </a>
        <span> </span>

        <a href="https://www.google.com/maps/search/hospitals+near+me/" target="_blank" >
                <button mat-raised-button class="right-button"> Hospitals near me </button>

        </a>
    </mat-toolbar-row>
</mat-toolbar>