mat-toolbar-row {
    text-align: center;
    margin: auto;

}

span {
    width: 20px;
}

mat-toolbar-row.title {
    justify-content: center;
    text-align: center;
    margin: auto;;
    font-size: 2em;
    color: #17252a;
}

.buttons {
    display: inline-block;
    margin-left: 20px;
}

.title-bar {
    height: 200px;
}


button.right-button {
    margin-left : 50px;
}